<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <h1>Miembros</h1>

    <h3>Índice</h3>
    <% include partials/navigation.ejs %>

    <h2>Inscripción de miembros</h2>
    Los campos marcados con * son obligatorios. <br> <br>
    <form action="/member" method="post" id="miembros">
        <input required type="number" name="DNI" placeholder="* DNI sin letra" minlength="3" maxlength="8">
        <input required type="text" name="LetraDNI" placeholder="* Letra DNI" maxlength="1" minlength="1">
        <input required type="text" name="nombre" placeholder="* Nombre del miembro">
        <input type="text" name="Apellido" placeholder="Apellido">
        <!--<input required type="text" name="DER" placeholder="* DER">-->
        <!--<input required type="text" name="Comunidad" placeholder="* Comunidad">-->
        <input type="submit">
    </form>

    <select name="DER" form="miembros" required>
        <% for (let i = 0; i < ders.length; i++) { %>
                <option value= <%= ders[i].name %> ><%= ders[i].name %></option>
        <% } %>
    </select>

    <select name="Comunidad" form="miembros" required>
        <% for (let i = 0; i < comunidades.length; i++) { %>
                <option value= <%= comunidades[i].name %> ><%= comunidades[i].name %></option>
        <% } %>
    </select>

    <h2>Número de miembros actuales: <%= miembros.length %></h2>
    <table>

        <tr>
            <td><strong>DNI</strong></td>
            <td><strong>Nombre</strong></td>
            <td><strong>Apellido</strong></td>
            <td><strong>DER</strong></td>
            <td><strong>Comunidad</strong></td>
        </tr>

        <% for (let i = 0; i < miembros.length; i++) { %>
            <tr>
                <td><%= miembros[i].dni %></td>
                <td><%= miembros[i].name %></td>
                <td><%= miembros[i].last_name %></td>
                <td><%= miembros[i].DER_name %></td>
                <td><%= miembros[i].community_name %></td>
            </tr>
        <% } %>

    </table>

</body>
</html>
